{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    ["shebang", {
      "replacement": "#!/usr/bin/env node",
      "force": true
    }]
  ]
}
